<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="assets/ico/favicon.ico" type="image/x-icon">
    <title>{{firstName}} {{lastName}}</title>
</head>
<body class="profile-page-body">
    <img src="../assets/svg/animoeats-logo.svg" alt="logo" class="logo">
    <div class="sidebar"></div>
    <div class="profile-page-top">
        <div class="profile-bio">
            <img class="profile-picture" src="../{{profilePic}}" alt="prof-pic">
            <span class="name-holder"><h1 class="profile-username">{{firstName}} {{lastName}}</h1></span>
            <span class="profile-helpful">
                <span class="helpful-count bold">{{helpfulCount}}</span>&nbsp;people found their reviews helpful
            </span>
            
            <div class="profile-reviews">
                <img class="icon" src="../assets/svg/ind-flag-notxt.svg" alt="flag">
                <span class = "reviews-count bold">{{reviewCount}}</span>
                <span>Reviews</span>
            </div>
            
            <div class="profile-photos">
                <img class="icon" src="../assets/svg/camera.svg" alt="photos">
                <span class="photos-count bold">{{photoCount}}</span>
                <span>Photos</span>
            </div>
            <span class="profile-member-since">
                Member since &nbsp;<span class="member-since-date bold">{{dateMade}}</span>
            </span>
            
            <div class="profile-description">
                {{biography}}    
            </div>

            <a href="/edit-profile" class="update clickable">
                <img class="icon" src="../assets/svg/edit-icon.svg" alt="edit">
                <span>Update</span>
            </a>
            
            <a href="/logout" class="logout clickable">
                <img class="icon" src="../assets/svg/logout-icon.svg" alt="logout">
                <span>Log Out</span>
            </a>
        </div>
    </div>
    <img class="waves" src="../assets/svg/prof-page-bg.svg" alt="waves">
    <div class="profile-page-bot">
        <div class="carousel">
            <ul class="track">
                <p class="no-rev">There's nothing much here...</p>
            </ul>
            <button class="button-left" style="display: none"><img src="../assets/svg/arrow-left.svg" alt="<<"></button>
            <button class="button-right" style="display: none"><img src="../assets/svg/arrow-right.svg" alt=">>"></button>
        </div>
        
    </div>
    <div class="profile-footer">
        <button class="view-more-btn btn-1" style="display: none">Hide Top Reviews</button>
        <button class="view-more-btn btn-2" hidden>View Top Reviews</button>
    </div>
    <div class="profile-page-more-rev">
    </div>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="module">
        $('document').ready(function(){
            // SIDEBAR FUNCTIONALITY            
            $('.sidebar').load('/side-bar');

            // REVIEW CARDS
            var listOfReviews = [{{{ reviews }}}];
            listOfReviews = listOfReviews[0];
            
            if (listOfReviews.length > 0){
                $('.carousel .track').empty();
                for (let i = 0; i < listOfReviews.length; i++){
                    if (i < 5)
                        $('.profile-page-bot .track').append($('<li class="rev-con-self '+ (i+1) + ' ' + (i == 0 ? 'selected':'slide') + '"></li>').load('/review-card', {post: listOfReviews[i], cardNum: (i+1)}));
                    else 
                        $('.profile-page-more-rev').append($('<div class="rev-con-self '+ (i+1) +'"></div>').load('/review-card', {post: listOfReviews[i], cardNum: (i+1)}));
                }
                if (listOfReviews.length > 1){
                    $('.carousel .button-left').css('display', 'block');
                    $('.carousel .button-right').css('display', 'block');
                }
                 $('.profile-footer .btn-1').css('display', 'block');
            } 

            //CAROUSEL FUNCTIONALITY
            function toSlideSelect(query, changeTo){
                let currentCN = query.className.split(' ');
                currentCN[2] = changeTo;
                let newCurrentCN = currentCN.join(' ');
                query.className = newCurrentCN;
            }

            const buttons = $('.carousel button');
            const moveSlide = (numSlide, maxSlide, direction) => {
                toSlideSelect($('.track').children()[numSlide], 'slide');
                
                if (numSlide == 0){
                    $('.track').css('transform', 'translateX(calc(-470px / 2 + (-' + (numSlide + (direction == 'left' ? maxSlide-1 : 1)) + ' * (470px + 8%))))');
                    toSlideSelect($('.track').children()[numSlide + (direction == 'left' ? maxSlide-1 : 1)], 'selected');
                } else if (numSlide == maxSlide-1){
                    $('.track').css('transform', 'translateX(calc(-470px / 2 + (-' + (numSlide + (direction == 'left' ? -1 : -(maxSlide-1))) + ' * (470px + 8%))))');
                    toSlideSelect($('.track').children()[numSlide + (direction == 'left' ? -1 : -(maxSlide-1))], 'selected');
                } else {
                    $('.track').css('transform', 'translateX(calc(-470px / 2 + (-' + (numSlide + (direction == 'left' ? -1 : 1)) + ' * (470px + 8%))))');
                    toSlideSelect($('.track').children()[numSlide + (direction == 'left' ? -1 : 1)], 'selected');
                }
            };

            buttons.on('click', function(e){
                let direction = e.currentTarget.className.split('-')[1];
                
                let selectedNum = $('.track .selected').index();
                let maxSlide = $('.track').children().length;
                console.log(maxSlide, selectedNum, direction);
                moveSlide(selectedNum, maxSlide, direction);
            });

            //VIEW MORE REVIEWS FUNCTIONALITY
            const viewMore = $('.profile-footer .btn-1');
            const viewTop = $('.profile-footer .btn-2');
            viewMore.on('click', function(){
                $('.profile-page-bot').css('height', '0');
                $('.profile-page-more-rev').css('display', 'grid');
                viewMore.hide();
                viewTop.show();
            });

            viewTop.on('click', function(){
                $('.profile-page-bot').css('height', '550px');
                setTimeout(function(){
                    $('.profile-page-more-rev').hide();
                }, 500);
                    
                $('.profile-footer .btn-1').show();
                viewMore.show();
                viewTop.hide();
            })

            // TOGGLE EDIT/DELETE;
            var isSelf = {{isSelf}};
            if (!isSelf){
                $('.profile-page-top .update').css('display','none');
                $('.profile-page-top .logout').css('display','none');
            }

            window.addEventListener("beforeunload", function () {
                // Check the "Remember me" cookie to decide whether to destroy the session
                const rememberMeCookie = Cookies.get('rememberMe');
                if (rememberMeCookie === 'false') {
                    $.get('/session/destroy');
                }
            });
        });
    </script>
</body>
</html>